.movie-list {
  padding: 0;
  width: 1010px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}

.search-panel {
  margin-inline: 36px;
  width: 938px;
}

.ant-pagination {
  justify-content: center;
  padding-block: 15px;
}

.ant-pagination-item-active {
  background-color: #1677ff !important;
}

.ant-pagination-item-active a {
  color: #ffffff !important;
}

.ant-pagination-options {
  display: none !important;
}

.flex {
  height: 853px;
}
